# nanoDNS example configuration

[general]
log=/data/nanodns/nanodns.log
debug=0

[upstream]
server=8.8.8.8
timeout_ms=1500

[overrides]
*playstation*=0.0.0.0
*sonyentertainmentnetwork*=0.0.0.0
*ribob01*=0.0.0.0
*akamai*=0.0.0.0
*youtube*=0.0.0.0
*ggpht*=0.0.0.0
*googlevideo*=0.0.0.0
*yt.be*=0.0.0.0
*ytimg.com*=0.0.0.0
*yt3.googleusercontent.com*=0.0.0.0
# *.example.com=192.168.0.10
# exact.host.local=10.0.0.42

[exceptions]
feature.api.playstation.com
*.stun.playstation.net
stun.*.playstation.net
ena.net.playstation.net
post.net.playstation.net
gst.prod.dl.playstation.net
# auth.api.playstation.net
# *.allowed.playstation.net
